<nav class="navigation">
  <div class="logo">
    <span><a href="/"><strong>I</strong>am<strong>Bramer</strong></a></span>
  </div>
    <div class="nav-trigger">
      <h2>Menu</h2>
      <span>
        <em aria-hidden="true"></em>
      </span>
    </div>
    <ul id="menu" class="menu">
      <li>
        <a href="/projects/">Projects</a>
      </li>
      <li>
        <a href="/words/">Words</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="mailto:tyler@iambramer.com">Contact</a>
      </li>
    </ul>
</nav>
