<!-- jQuery library -->
<script defer src="/js/jquery-3.2.0.min.js"></script>

<!-- jQuery library -->
<script defer src="/js/modernizr.min.js"></script>

<!-- Loading Bar -->
<script defer src="/js/pace.min.js"></script>

<!-- PJAX for page animations -->
<script defer src="/js/barba.min.js"></script>

<!-- Lazysizes function for loading ajax images -->
<script defer src="/js/lazysizes.min.js"></script>

<!-- Animation replacement for animate() -->
<script defer src="/js/velocity.min.js"></script>
<script defer src="/js/velocity-ui.min.js"></script>

<!-- Tilt function for images -->
<script defer src="/js/tilt.min.js"></script>

<!-- Parallax function for project pages -->
<script defer src="/js/parallax.js"></script>

<!-- Scroll reveal Animation -->
<script defer src="/js/scrollreveal.min.js"></script>

<!-- Pollyfill for object-fit -->
<script defer src="/js/picturefill.min.js"></script>

<!-- Main javascript file -->
<script defer src="/js/main.js"></script>

<script>
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-97186735-1', 'auto');

    // Replace the following lines with the plugins you want to use.
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');

    // Feature detects Navigation Timing API support.
    if (window.performance) {
        // Gets the number of milliseconds since page load
        // (and rounds the result since the value must be an integer).
        var timeSincePageLoad = Math.round(performance.now());

        // Sends the timing hit to Google Analytics.
        ga('send', 'timing', 'JS Dependencies', 'load', timeSincePageLoad);
    }

    ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/js/autotrack.js"></script>
