<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Fonts -->
  <script src="https://use.typekit.net/zad8oru.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

</head>

<body>
  <nav class="navigation">
      <ul class="menu">
        <li>
          <a href="/grid">Design</a>
        </li>
        <li>
          <a href="/typography">Photography</a>
        </li>
        <li>
          <a href="/typography">3D Renders</a>
        </li>
        <li>
          <a href="/typography">About</a>
        </li>
        <li>
          <a href="/typography">Contact</a>
        </li>
      </ul>
  </nav>

  <div id="content">
    {{ content }}
  </div>

  <!-- jQuery library -->
  <script src="/js/jquery-3.2.0.min.js"></script>

  <!-- Animation replacement for animate() -->
  <script src="http://velocityjs.org/build/jquery.velocity.min.js"></script>
  <script src="http://velocityjs.org/build/velocity.ui.js"></script>

  <!-- Main javascript file -->
  <script src="/js/main.js"></script>

</body>

</html>
