---
layout: default
---
<section>
  <div class="full-column cover-image-wrap">
    <div class="cover-image" style="background-image: url('/img/projects/{{ page.cover-image }}');"></div>
  </div>
</section>
<section>
  <div class="full-column margin-bottom-large" style="background-color: #{{ page.project-color }}">
    <div class="text">
      <h2 style="color: #{{ page.header-color }}">{{ page.title }}</h2>

      <div class="post" style="color: #{{ page.body-color }}">
        {{ content }}
      </div>
    </div>
  </div>
</section>
