.about {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;


  .about-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    padding:0 $page-padding-small;
    z-index: 5;

    @media screen and (min-width: $medium) {
      padding:0 $page-padding-medium;
      max-width: 60%;
    }
    @media screen and (min-width: $large) {
      padding:0 $page-padding-large;
      max-width: 70%;
    }
  }


  .about-info,
  .about-info-2,
  .about-info-3,
  .contact-info {
    position: relative;
    min-height: calc(100vh - 100px);
    width:100%;
    display: flex;
    align-items: center;
    padding: 4rem 0;
    z-index: 2;
    overflow: hidden;

    h4 {

      margin-bottom: .5em;
      text-transform: uppercase;
      color: #525252;
      letter-spacing: .05em;
    }
    h1 {
      position: relative;
      left: -.05em;
      margin-bottom: .3em;
    }

    p {
      color: #525252;
      a {
        font-weight: bold;
      }
    }

    .portrait {
      display: none;

      @media screen and (min-width: $large){
        display: block;
        position: absolute;
        width: 50%;
        bottom:0;
        right:-10%;
        z-index: 0;
        max-height: 100%;
      }

    }
  }
  .contact-info {
    min-height: calc(100vh - #{$page-padding-small} - 75px);
    margin:0;
    padding: 0;
    background-color:#000;

    @media screen and (min-width: $small) {
      min-height: calc(100vh - #{$page-padding-medium} - 75px);
    }

    @media screen and (min-width: $medium) {
      min-height: calc(100vh - #{$page-padding-large} - 75px);
    }
    @media screen and (min-width: $large) {
      min-height: calc(100vh - #{$page-padding-large} - 75px);
    }
  }
  .about-info {
    background-color: #f4f4f4;
  }
  .about-info-2 {
    background-color: #6544f4;
    h4 {
      color: #fff;
    }
  }
  .about-info-3 {
    background-color: #111;
    h4, {
      color: #6544f4;
    }
  }
}

.purple {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #6544f4;
}
a.white:hover, a.white:active, a.white:focus{
  color:#fff;
}
.white {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #fff;
}

.proud {
    margin-bottom: 1em;
  li {
    display:inline-block;
    width:auto;
    text-align: center;
    margin-bottom: .5em;
  }
  img{
    height:3rem;
    @media screen and (min-width: $small) {
         height:4rem;
    }
    @media screen and (min-width: $medium) {
         height:5rem;
    }
    @media screen and (min-width: $larger) {
         height:6rem;
    }
  }
}
