.home-featured{
  @include grid-column(1, $neat-grid-full);
  padding: 0 $column-padding-small;
  margin-bottom: $column-padding-small;
  @include grid-media($neat-small-full) {
      padding: 0 $column-padding-regular;
      margin-bottom: $column-padding-regular;
  }

  .one-thirds-column-full {
    overflow: hidden;
  }

  .featured {
    height:calc(100vh - 100px);
    position: relative;

    .featured-info {
      background: #fff;
      height:8rem;
      position: absolute;
      width:calc(100% - 50px);
      display:block;
      bottom:$column-padding-small;
      display:flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      @include grid-media($neat-small-full) {
          bottom: $column-padding-regular;
          width:calc(100% - 100px);
      }
      h3 {
        margin:0;
        font-size:1em;
        text-align: center;
        font-family: "freight-text-pro",serif;
        font-style:normal;
        font-size:1em;
        text-transform: uppercase;
        letter-spacing: .1em;
      }
      h1 {
        margin:0;
        text-align: center;
        font-weight: bold;
      }
    }
  }

}
