html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}
body {
  padding-top: $nav-height;
}
/*---------------------------------
Examples formatting
----------------------------------*/
.header {
    padding: 20px 0;
}
/*---------------------------------
Grids
----------------------------------*/


//Grid Setup for home page -- Flexbox
.grid-1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin-bottom: $nav-height;
  font-family: "object-fit: cover; object-position: center;";

  @media screen and (min-width: $medium) {
    flex-direction: row;
    min-height: 400px;
    height: calc(100vh - 10em);

    .grid-1-side {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}

.grid-1_main {
  position: relative;
  background: #ccc;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  overflow: hidden;
  font-family: "object-fit: cover; object-position: center;";

  @media screen and (min-width: $medium) {
    flex: 2;
    height: auto;
  }

  .feature-description {
    top: 1em;
    left: 1em;
  }
}
.grid-1_second, .grid-1_third {
  position: relative;
  background: #eee;
  display: flex;
  flex: 1;
  height: 80vh;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  overflow: hidden;

  @media screen and (min-width: $medium) {
    min-height: auto;
    flex: 1;
    height: 50%;
  }

  .feature-description {
    top: 1em;
    left: 1em;
  }
}
.grid-1_third {
  background: #ddd;
}

//Grid Setup for home page -- CSS Grid
@supports (display: grid) {
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "second"
      "third";
    width: 100%;

    @media screen and (min-width: $medium) {
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "main second"
        "main third";
      height: calc(100vh - 10em);
    }
  }
  .grid-1-side {
    display: grid;

    @media screen and (min-width: $medium) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      grid-template-rows: 1fr 1fr;
    }
  }
  .grid-1_main {
    grid-area: main;
    background: #ccc;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $medium) {
      height: auto;
    }
  }
  .grid-1_second {
    background: #eee;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $medium) {
      height: auto;
    }
  }
  .grid-1_third {
    background: #ddd;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $medium) {
      height: auto;
    }
  }
}


//Grid Setup for two column half width grid -- Flexbox
.grid-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  margin:0 auto;

  & > * {
    margin-bottom: 2em;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: row;
    & > * {
      margin-right: 80px;
    }
    & > :nth-child(even) {
      margin-right: 0px;
    }
  }
  a {
    width: 100%;
  }
}
.grid-2_half {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $medium) {
    width: calc(50% - 40px);
  }
}

.grid-2_full {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @media screen and (min-width: $medium) {
    flex: 0 0 100%;
  }

  p {
    max-width: 1100px;
  }
}

//Grid Setup for two column half width grid -- CSS Grid
@supports (display: grid) {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 2vw;
    align-items: start;
    max-width: $max-width;
    margin:0 auto;

    @media screen and (min-width: $medium) {
      & > * {
      margin-right: 0px;
    }
      grid-template-columns: 1fr 1fr;
    }
  }
  .grid-2_half {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-2_full {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $medium) {
      grid-column-end: span 2;
    }
  }
}
.barba-container {
  margin-bottom: $nav-height;
}

//Sets max page width
.page-wrap, .nav-wrap {
  position: relative;
  width: 100%;
  margin:0 auto;
  padding:0 $page-padding-small;
  max-width: $max-width;
  @media screen and (min-width: $small) {
    padding:0 $page-padding-medium;
  }
  @media screen and (min-width: $medium) {
    padding:0 $page-padding-large;
  }
}

.padding-small {
  padding: 0 $page-padding-small;
}

.margins {
  margin: $page-padding-small 0;

  @media screen and (min-width: $medium) {
    margin: $page-padding-medium 0;
  }
  @media screen and (min-width: $large) {
    margin: $page-padding-large 0;
  }
}
//Don't blur images when there is no JavaScript and don't show lazyload images
.no-js img {
  filter: blur(0px);
}
.no-js img.lazyload {
  display: none;
}
